/*.footer {
  grid-area: footer;
  background-color: rgb(51, 47, 47); 
  color: #e0e7ff;
  padding: 16px 24px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9rem;
}
*/

.footer {
  color: #e0e7ff; 
  padding: 16px 24px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9rem;
}

